fastapi
uvicorn[standard]

sqlalchemy
asyncpg
psycopg2-binary
alembic

passlib
bcrypt
python-jose[cryptography]

pydantic-settings
python-dotenv

httpx
async-lru
rich

authx

black

pytest
pytest-asyncio
pytest-dotenv